@page "/Images"
<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
<PageTitle>@menu8</PageTitle>
<MudText Typo="Typo.h3" GutterBottom="true">@menu8</MudText>
@if (imgages == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudGrid>
    @foreach (string item in imgages)
        {   
        
            <MudItem xs="12" sm = "6"lg = "3" md="4">
                <div class="d-flex justify-center" style="height:100%">
                <MudImage ObjectPosition="ObjectPosition.Center" ObjectFit="ObjectFit.Cover" Height="null" Width="280" Src="@item" Alt="Mony the dog" Elevation="25" Class="rounded-lg"/>
    @*            <div>
                    <img width=100% style="max-height: 500px;" src=@($"照片/{item.image}")/>
                </div>*@
                </div>
            </MudItem>
        
        }
    </MudGrid>
}
@code {
    private List<string> imgages;
    public string menu8 = Data.Chinese_language.menu8;
    protected override async Task OnInitializedAsync()
    {
        imgages = await httpclientfacebook.Get();
        Data.page = "/Images";
        artical();
    }
    public void artical()
    {
        if (Data.language == "english")
        {
            menu8 = Data.English_language.menu8;
        }
        else
        {
            menu8 = Data.Chinese_language.menu8;
        }
    }
    
}
